$darkGreen: #388E3C;
$green: #4CAF50;
$lightGreen: #C8E6C9;
$white: #FFFFFF;
$yellow: #FFC107;
$black: #212121;
$grey: #727272;
$lightGrey: #B6B6B6;

$text: $black;
$secondaryText: $grey;
$divider: $lightGrey;

