@import "variables";

$footerHeight: 200px;
$blue: #448AFF;

@mixin RobotoLight {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
html {
    position: relative;
    min-height: 100%;
    width: 100%;
}

body{
    margin-bottom: $footerHeight;
}

nav .brand-logo{
    height: 100%;
    img.responsive-img{
        height: 100%;
        width: auto;
    }
    span.brand{
        display: inline-block;
        height: 100%;
        position: absolute;
    }
}
div.section.no-pad-bot{
    padding-top: 0;
    .museum-img{
        background-image: url("../img/museum.jpg");
        background-size: cover;
        min-height: 600px;
        position: relative;
    }
    .container{
        position: absolute;
        left: 0;
        top: 70px;
        right: 0;
        h1{
            margin-top: 0;
        }
    }
}

.collection a.collection-item{
    color: $blue;
    &.active{
        background-color: $blue;
    }
}

footer{
    height: $footerHeight;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 992px){
    nav .brand-logo, #logo-container{
        left: 38%;
    }
}

h5{
    @include RobotoLight;
}


.context, .iot{
    position: relative;
    top: 170px;
    h4{
        text-align: center;
    }
}

