<section class = "beacon-info">
    <h4>{{::currentBeacon.name}}</h4>
    <form>
        <div class="row">
            <div class="input-field col s6">
                <input id="id" type="text" class="validate" ng-model="updatedBeacon.id" readonly>
                <label class="active" for="id">Beacon ID (not modifiable)</label>
            </div>
            <div class="input-field col s6">
                <input id="name" type="text" class="validate" ng-model="updatedBeacon.name">
                <label class="active" for="name">Exhibit Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="image" type="text" class="validate" ng-model="updatedBeacon.image">
                <label class="active" for="image">Image URL</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="description" class="materialize-textarea" ng-model="updatedBeacon.description"></textarea>
                <label class="active" for="description">Exhibit Description</label>
            </div>
        </div>
        <a ng-click="modifyBeacon()" class="btn-large waves-effect waves-light blue">Modify Beacon</a>
        <a ng-click="deleteBeacon()" class="btn-large waves-effect waves-light blue">Delete Beacon</a>
    </form>
</section>