<div class="section no-pad-bot" id="index-banner">
    <div class = "museum-img"></div>
    

    <div class="container">
        <br><br>
        <h1 class="header center blue-text">GlowStone</h1>
        <div class="row center">
            <h5 class="header col s12 light">A seamless contextual information system for public attractions and landmarks</h5>
        </div>
        <div class="row center">
            <a href="dist/GlowStone.apk" class="btn-large waves-effect waves-light blue">Download</a>
        </div>
        <br><br>
    </div>

</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center deep-purple-text"><i class="mdi-social-school"></i></h2>
                    <h5 class="center">Proactive Learning</h5>

                    <p class="light">While traditional systems require the user to take an action to view content, GlowStone is proactive and automatically loads the exhibit's profile once the user is nearby, making it easier for the user to access content, and learn. </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center deep-purple-text"><i class="mdi-action-accessibility"></i></h2>
                    <h5 class="center">User Experience Focused</h5>

                    <p class="light">By using the power of the Estimote Beacon, we're able to provide superior user experience, as compared to traditional headset, QR code, or exhibit number methods. All the user needs to do is to install the app and walk near an exhibit.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center deep-purple-text"><i class="mdi-action-settings"></i></h2>
                    <h5 class="center">Easy Configuration</h5>

                    <p class="light">We've provided a clean and intuitive web interface for you to register beacons. Only four blanks are required - the Beacon's ID, the exhibit name, a description, and a link to an image. After that, all that needs to be done is to register the beacon and place it near an exhibit.</p>
                </div>
            </div>
        </div>
        
        <!-- SS Section -->
        <div class = "row">
            <div class = "col m4">
                <img class="responsive-img" src="../img/android1.png">
            </div>
            <div class = "col m8 flex-box context">
                <h4>Contextually-Aware</h4>
                <h5>GlowStone can sense landmarks and attractions relevant to you using Estimote beacons, providing a totally seamless experience.</h5>
            </div>
        </div>
        <div class = "row">
            
            <div class = "col m8 flex-box iot">
                <h4>Information of Things</h4>
                <h5>GlowStone uses beacon technology to provide contextual information about any location you want.</h5>
            </div>
            <div class = "col m4">
                <img class="responsive-img" src="../img/android2.png">
            </div>
        </div>
    </div>
</div>
