<!-- reservationsController.js -->
<section class = "reservations">
    <div class = "welcome container">
        <div class = "row">
            <h1>Welcome to the restaurant!</h1>
            <h2>Just answer a few questions, and we can be on our way!</h2>
            <div class = "col l8 s8">
                <label for="numPeople">Party Size</label>
                <input id="numPeople" type="number" ng-model="Reservation.numPeople">
                <label for="date">Date</label>
                <input id="date" type="date" class="datepicker" ng-model="Reservation.date">
                <label for="time">Time</label>
                <input id="time" type="time" ng-model="Reservation.time">
                <a ng-click="reserveTable()" class="btn-large waves-effect waves-light orange">Reserve a table</a>
                <p class="error" ng-show="isError">{{error}}</p>
            </div>
        </div>
    </div>
    <script>
        $('.datepicker').pickadate({
            selectMonths: true,
            selectYears: 1
        });
    </script>
</section>